.footer {
	/* position: absolute;
	bottom: 0; */
	width: 100%;
	background-color: var(--text-main-color);
	color: var(--text-on-dark-color);
	padding: 1em 0.5em;
}

.footer-content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.contact-us-wrapper {
	text-align: center;
	text-transform: uppercase;
}

.contact-us {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	text-transform: none;
	justify-content: center;
}

.devs,
.github {
	margin: 1em 1em;
}

.devs ul li a,
.github a {
	display: block;
	position: relative;
	padding: 0.2em 0;
	overflow: hidden;
}

.devs ul li a::before,
.github a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--text-on-dark-color);
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 0.3s ease;
}

.devs a:hover::before,
.github a:hover::before {
	transform: scaleX(1);
}

.devs ul {
	padding: 0;
	margin: 0;
}

.devs ul li {
	padding: 5px 0;
}

.github {
	display: block;
	padding: 5px 0;
}

.contact-us a {
	color: var(--text-on-dark-color);
}

.footer .title-number {
	color: var(--text-on-dark-color);
}

.rights {
	text-align: center;
}
